.colored_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: white;
    width: 100px;
    height: 100px;
}

.colored_box_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
